*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
spec/examples.txt
test/tmp
test/version_tmp
tmp
log/*.log
Gemfile.lock
.rspec_status
.byebug_history
node_modules
db/schema.rb
db/schema.rb.diff
